<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<title>Lista de Compras</title>
	</h:head>
	<h:body>
		<p:panel>
			<div id="cabecalho">
				<p:tabMenu activeIndex="#{param.i}">
				    <p:menuitem value="Produto" outcome="cadProduto" icon="ui-icon-cart">
				    	<f:param name="i" value="0" />
				    </p:menuitem>
				    <p:menuitem value="Lista" outcome="cadLista" icon="ui-icon-bookmark">
				    	<f:param name="i" value="1" />
				    </p:menuitem>
				</p:tabMenu>
				
					<p:ajaxStatus style="position:fixed;top:50px;right:50px;">
					
					    <f:facet name="default"/>
					    <f:facet name="start">
							<img src="img/loading.gif" /> 
					    </f:facet>
					    <f:facet name="complete"/>
					</p:ajaxStatus>
			</div>
	
			<div id="conteudo">
	            <ui:insert name="conteudo">
	            </ui:insert>
	        </div>
		</p:panel>
	</h:body>
</html>