<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="_template.xhtml">
		<ui:define name="conteudo">
			<h:form>
				<p:panel id="cadastro" header="Cadastro de Listas">
					<p:messages autoUpdate="true" />
					<h:inputHidden value="#{listaBean.lista.id}" />
					<h:panelGrid columns="2" cellpadding="5">
						<p:outputLabel value="Nome:" for="nome" />
						<p:inputText id="nome" value="#{listaBean.lista.nome}" size="50"
									 required="true" requiredMessage="O nome deve ser informado!" 
									 validatorMessage="O nome pode ter no máximo 200 caracteres!"
									 maxlength="200">
						</p:inputText>
					</h:panelGrid>
				</p:panel>
				<h:panelGrid columns="3">
					<p:commandButton value="Gravar" icon="ui-icon-disk"
									 process="@form" update="@form" 
									 action="#{listaBean.gravar}"/>
					
					<p:commandButton value="Novo" icon="ui-icon-plus"
									 process="@this" update="cadastro"
									 action="#{listaBean.novaLista}"/>
					
					<p:commandButton value="Cancelar" icon="ui-icon-cancel" type="reset"/>
				</h:panelGrid>
			<br/>

				<p:panel id="grid" header="Listas Cadastradas" toggleable="true">
					<p:dataTable paginator="true" rows="5" emptyMessage="Nenhuma lista cadastrada!"
								 value="#{listaBean.listas}" var="lista">
						<p:column headerText="Nome" style="width: 75%">
							<h:outputText value="#{lista.nome}" />
						</p:column>
						
						<p:column headerText="Opções" style="text-align: center; width: 25%">
							<p:commandButton title="Editar" icon="ui-icon-pencil"
											 process="@this" update="@form"
											 action="#{listaBean.editar(lista)}"/>

							<p:commandButton title="Excluir" icon="ui-icon-trash"
											 process="@this" update="@form"
											 action="#{listaBean.excluir(lista)}"/>
							
							<p:button title="Produtos da lista" icon="ui-icon-extlink"
											 outcome="produtoLista" immediate="true" >
								<f:param name="i" value="1"/>
								<f:param name="listaId" value="#{lista.id}"/>
							</p:button>
						</p:column>
					</p:dataTable>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</html>