<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="_template.xhtml">
		<ui:define name="conteudo">
			<h:form>
				<p:panel id="cadastro" header="Cadastro de Produtos">
					<p:messages id="messages" autoUpdate="true" />
					<h:inputHidden value="#{produtoBean.produto.id}" />
					<h:panelGrid columns="2" cellpadding="5">
						<p:outputLabel value="Nome:" for="nome" />
						<p:inputText id="nome" value="#{produtoBean.produto.nome}" size="50"
									 required="true" requiredMessage="O nome deve ser informado!">
						</p:inputText>
						
						<p:outputLabel value="Preço:" for="preco"/>
						<p:inputText id="preco" value="#{produtoBean.produto.preco}" size="15"
									 required="true" requiredMessage="O preço deve ser infomado!">
							<f:convertNumber minFractionDigits="2"/>
						</p:inputText>
					</h:panelGrid>
				</p:panel>
				
				<h:panelGrid columns="3">
					<p:commandButton value="Gravar" icon="ui-icon-disk"
									 process="@form" update="@form" 
									 action="#{produtoBean.gravar}"/>
					
					<p:commandButton value="Novo" icon="ui-icon-plus"
									 process="@this" update="cadastro"
									 action="#{produtoBean.novoProduto}"/>
					
					<p:commandButton value="Cancelar" icon="ui-icon-cancel" type="reset"/>
				</h:panelGrid>
			<br/>

				<p:panel id="grid" header="Produtos Cadastrados" toggleable="true">
					<p:dataTable paginator="true" rows="5" emptyMessage="Nenhum produto cadastrado!"
								 value="#{produtoBean.produtos}" var="produto">
						<p:column headerText="Nome" style="width: 60%">
							<h:outputText value="#{produto.nome}" />
						</p:column>
						
						<p:column headerText="Preço" style="width: 15%; text-align: right">
							<h:outputText value="#{produto.preco}">
								<f:convertNumber type="currency" currencySymbol="R$" minFractionDigits="2"/>
							</h:outputText>
						</p:column>
						
						<p:column headerText="Opções" style="text-align: center; width: 25%">
							<p:commandButton title="Editar" icon="ui-icon-pencil"
											 process="@this" update="@form"
											 action="#{produtoBean.editar(produto)}">
							</p:commandButton>
	
							<p:commandButton title="Excluir" icon="ui-icon-trash"
											 process="@this" update="@form"
											 action="#{produtoBean.excluir(produto)}">
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</html>