<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="_template.xhtml">
		<ui:define name="conteudo">
			<h:form id="form">
				<p:panel id="lista" header="Lista de Compras: #{produtoListaBean.lista.nome}">
					<p:messages autoUpdate="true" />
					
					<p:tabView id="tabelaProdutos">
				        <p:tab title="Pendentes">
							<p:dataTable value="#{produtoListaBean.produtosPendentes}" var="produtoLista"
										 id="pendentes" emptyMessage="Nenhum produto na lista">
								<p:column headerText="Nome" style="width: 75%">
									<h:outputText value="#{produtoLista.produto.nome}" />
								</p:column>
							 
								<p:column headerText="Preço" style="width: 15%; text-align: right">
									<h:outputText value="#{produtoLista.produto.preco}">
										<f:convertNumber type="currency" currencySymbol="R$" minFractionDigits="2"/>
									</h:outputText>
								</p:column>
								
								<p:column headerText="Opções" style="width: 10%">
									<div align="center">
										<p:commandButton title="Comprar" icon="ui-icon-check"
														 process="@this" update=":form:tabelaProdutos"
														 action="#{produtoListaBean.alterarSituacao(produtoLista, produtoListaBean.situacaoComprado)}">
										</p:commandButton>

										<p:commandButton title="Remover" icon="ui-icon-trash"
														 process="@this" update=":form:tabelaProdutos"
														 action="#{produtoListaBean.excluir(produtoLista.id)}">
										</p:commandButton>
									</div>
								</p:column>
								
								<f:facet name="footer">
									<h:outputText value="Valor Total: "/>
									<h:outputText value="#{produtoListaBean.totalPendente}">
										<f:convertNumber type="currency" currencySymbol="R$" minFractionDigits="2"/>
									</h:outputText>
								</f:facet>
							</p:dataTable>
					        </p:tab>
					        
				        <p:tab title="Comprados">
							<p:dataTable value="#{produtoListaBean.produtosComprados}" var="produtoComprado"
										 id="comprados" emptyMessage="Nenhum produto da lista comprado">
								<p:column headerText="Nome" style="width: 75%">
									<h:outputText value="#{produtoComprado.produto.nome}" />
								</p:column>
							 
								<p:column headerText="Preço" style="width: 15%; text-align: right">
									<h:outputText value="#{produtoComprado.produto.preco}">
										<f:convertNumber type="currency" currencySymbol="R$" minFractionDigits="2"/>
									</h:outputText>
								</p:column>
							 
								<p:column headerText="Opções" style="width: 10%">
									<div align="center">
										<p:commandButton title="Desfazer compra" icon="ui-icon-bookmark"
														 process="@this" update=":form:tabelaProdutos"
														 action="#{produtoListaBean.alterarSituacao(produtoComprado, produtoListaBean.situacaoPendente)}">
										</p:commandButton>

										<p:commandButton title="Remover" icon="ui-icon-trash"
														 process="@this" update=":form:tabelaProdutos"
														 action="#{produtoListaBean.excluir(produtoComprado.id)}">
										</p:commandButton>
									</div>
								</p:column>
								
								<f:facet name="footer">
									<h:outputText value="Valor Total: "/>
									<h:outputText value="#{produtoListaBean.totalComprado}">
										<f:convertNumber type="currency" currencySymbol="R$" minFractionDigits="2"/>
									</h:outputText>
								</f:facet>
							</p:dataTable>
				        </p:tab>
				        
				        <p:tab title="Adicionar">
							<p:dataTable value="#{produtoListaBean.produtosForaLista}" var="produto"
										 id="adicionar" emptyMessage="Nenhum produto a adicionar na lista">
								<p:column headerText="Nome" style="width: 70%">
									<h:outputText value="#{produto.produto.nome}" />
								</p:column>
							 
								<p:column headerText="Preço" style="width: 15%; text-align: right">
									<h:outputText value="#{produto.produto.preco}">
										<f:convertNumber type="currency" currencySymbol="R$" minFractionDigits="2"/>
									</h:outputText>
								</p:column>
							 
								<p:column headerText="Opções" style="width: 15%">
									<div align="center">
										<p:commandButton title="Adicionar" icon="ui-icon-cart"
														 process="@this" update=":form:tabelaProdutos"
														 action="#{produtoListaBean.gravar(produto)}">
										</p:commandButton>
									</div>
								</p:column>
							</p:dataTable>
				        </p:tab>
				    </p:tabView>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>

</html>